@import url('../assets/css/global.scss');

.introduction{
    position: absolute;
    width: 92vw;
    margin-left: 4vw;
    margin-top: 13vh;
    background: #0f2044; 
    border-radius: 2vh;

    h1{
        text-align: center;
        color: #FFB71B;
        margin-top: 1vh;
    }

    p{
        text-align: center;
        color: white;
        margin-left: 2vw;
        margin-right: 2vw;
    }

}

.register{
    position: absolute;
    margin-left: 1vw;
    width: 98vw;
    margin-top: 30vh;
    margin-bottom: 5vh;
    background: #0f2044; 
    border-radius: 5vh;

    th{
        background: #bec0c2; 
        text-align:center; 
        border:1px solid black;
        color: black;
    }

    td{
        border-radius: 1vh;
        background: #bec0c2;
        text-align:center;
        border:1px solid black;
        color: black;
    }

    .data-cell-header{
        width: 8vw;
    }

    .data-cell{
        width: 8vw;
    }

    .button-cell-header{  
        width: 11.2vw;
    }

    .buttons-cell{
        border: none;
        width: 11.2vw;
        background: none;
    }

    #select-register-table-div{
        position: relative;
        width: 84.3vw;    
        margin-right: 13.3vw;    
        margin-left: 1.2vw;

        #h2-1{
            text-align: center;      
            color: #FFB71B;
        }

        .register-or-schedule-dropdown{
            position: relative;
            display: block;
            margin: 0 auto;
            background: #bec0c2;
            border: 1px solid var(--navy);
            border-radius: 1vh;
            padding: 0.6vh;
            color: black;
        }
    }
    
    .registered-classes-table{
        position: relative;
        border-collapse: separate; 
        empty-cells: hide;
        table-layout: fixed;
        width: 94vw;
        height: 5vh;
        margin-top: 3vh;
        margin-left: 2vw;
        margin-bottom: 10vh;
        border-spacing:1px 1.5vh;

        .registered-classes-table-column-headers{
            height: 3vh;
        }

        #registered-classes-table-row{
            height: 5vh;
        }
        
        #scheduled-classes-table-row{
            height: 5vh;
        }     


        .registered-courses-drop-button{
            margin-left: 1vw;
            width: 8vw;
            background: #bec0c2;
            border: 1px solid var(--navy);
            border-radius: 1vh;
            padding: 0.6vh;
            color: black;
        }

            .register-button-schedule{
                margin-left: 1.5vw;
                width: 4vw;
                background: #bec0c2;
                border: 1px solid var(--navy);
                border-radius: 1vh;
                padding: 0.6vh;
                color: black;
                font-size: 11px;
            }
    
            .scheduled-courses-remove-button{
                margin-left: 0.5vw;
                width: 5vw;
                background: #bec0c2;
                border: 1px solid var(--navy);
                border-radius: 1vh;
                padding: 0.6vh;
                color: black; 
                font-size: 11px;
            }
        
    }  
    
    #course-search-div{
        position: relative;    
        margin-right: 13.3vw;
        margin-left: 1.2vw;
        width: 84.3vw;      
        
        #h2-2{
            text-align: center;
            color: #FFB71B;
        }
    
        .look-for-class{    
            position: relative;
            display: flex;  
            width: fit-content;
            margin:0 auto;

            .subject-dropdown{
                position: relative;  
                display: flex;
                margin-top: 2vh;
                margin-bottom: 3vh;
                margin-left: 1vw;
                margin-right: 5vw;  
                background: #bec0c2;
                border: 1px solid var(--navy);
                border-radius: 1vh;
                padding: 0.6vh;
                color: black;
            }
            
            .course-number-dropdown{
                position: relative;
                display: flex;   
                margin-left: 1vw;
                margin-top: 2vh;
                margin-bottom: 3vh;  
                background: #bec0c2;
                border: 1px solid var(--navy);
                border-radius: 1vh;
                padding: 0.6vh;
                color: black;
            }
            
            .search-button{
                position: relative;
                margin-left: 5vw;
                margin-top: 2vh;
                margin-bottom: 2.75vh; 
                background: #bec0c2;
                border: 1px solid var(--navy);
                border-radius: 1vh;
                padding: 0.6vh;
                color: black;
            }    
        }
    }
       
    .sections-table {
        position: relative;
        border-collapse: separate;
        table-layout: fixed;
        empty-cells: hide;
        margin-left: 2vw;
        margin-bottom: 5vh;
        width: 94vw;
        height: 5vh;
        border-spacing:1px 1.5vh;

        .sections-table-column-headers{   
            height: 3vh; 
        }

        .sections-table-row {
            height: 5vh;     
        }

        .sections-table-row-buttons{
            display: flex;
    
            .register-button{
                margin-left: 1.5vw;
                width: 3.5vw;
                background: #bec0c2;
                border: 1px solid var(--navy);
                border-radius: 1vh;
                padding: 0.6vh;
                color: black;
                font-size: 11px;
            }
            
            .add-to-schedule-button{
                margin-left: 0.5vw;
                width: 5.5vw;
                background: #bec0c2;
                border: 1px solid var(--navy);
                border-radius: 1vh;
                padding: 0.6vh;
                color: black; 
                font-size: 11px;
            }
        }
    }  
}

.loginRequired{
    position: absolute;
    margin-top: 20vh;
    margin-left: 45vw;

    p {
        font-size: 30px;
        text-align: center;
    }
}








