@import url('../assets/css/global.scss');

div {
  overflow:hidden;
  overflow-y:scroll;

  h1 {
    text-align: center;
    font-size: 20px;
    margin-top: 0;
  }

  &.remaining {
    top: 20%;
    border-radius: 2vh;
    border: 5px solid var(--navy);
    padding: 2vh;
    background: var(--prettypink);
    position: absolute;
    height: 40vh;
    width: 30vw;
    left: 10%;
    display: flex;
    justify-content: center;

    #remainingList{
      list-style-type: none;
      justify-content: center;
      padding: 0;
  
      li { 
        border: 5px solid var(--navy);
        font-size: 20px;
        margin-top: 1vh;
        margin-left: 1.5vw;
        width: 20vw;   
        height: 5vh;  
        border-radius: 1vh;     
        text-align: center;
        color: black;
        background: var(--navyaccent);
        border-color: rgb(85, 9, 85);
      }
    }
  }

  &.completed {
    top: 20%;
    border-radius: 2vh;
    border: 5px solid var(--navy);
    padding: 2vh;
    background: var(--prettypink);
    position: absolute;
    height: 40vh;
    width: 30vw;
    left: 55%;
    display: flex;
    justify-content: center;

    #completedList{
      list-style-type: none;
      justify-content: center;
      padding: 0;
  
      li { 
        border: 5px solid var(--navy);
        margin-top: 1vh;
        margin-left: 1.5vw;
        font-size: 20px;
        text-align: center;
        width: 20vw;
        height: 5vh;    
        border-radius: 1vh;  
        color: black;
        background: var(--navyaccent);
        border-color: rgb(85, 9, 85);
      }
    }
  }

  #degreeprogressheader{
    position: absolute;
    bottom: 6vh; 
    margin: auto;
    font-size: 15px;
    text-align: center;
    width: 100vw;
  }

  #degreeprogress{
    position: absolute;
    background: var(--navyaccent);
    height: 4vh;
    margin: auto;
    bottom: 1vh;
    left: 25vw;
    width: 50vw;
    border-radius: 2vh;
    border: 0.2vw solid var(--navy);
  }
}