@import url('../assets/css/global.scss');

body {
  #loginPageDiv{
    width: 100vw;
    height: 100vh;
    background-image: url('../imgs/stockPhoto.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;

    form{
      background-color: #0f2044;
      height: 300px;
      width: 20vw;
      border: 5px solid #FFB71B;
      padding: 2vh; 
  
      p {
        color: white;
        margin-left: 2.15vw;
      }
  
      #appName{
        #appNameHeader{
          text-align: center;
        }
      }
  
      .textInput{ // for the text input fields
        background: #2a4275; ;
        border: 1px solid white;
        width: 15vw;
        margin-left: 2.15vw;
        border-radius: 1vh;
        padding: 1vh;
        color: white;
      }
      
      .buttonInput { // for login button
        background: #2a4275; ;
        border: 1px solid white;
        width: 13vw;
        margin-left: 3.7vw;
        margin-top: 30px;
        border-radius: 1vh;
        padding: 1vh;
        color: white;
      } 
    
      &.login {
        position: absolute;
        top: 31%;   
        left: 40%;
      }
    }  
  } 
}