@import url('../assets/css/global.scss');

body {
  .loginpictures{
    margin-top: 16vh;
    margin-left: 10vw;
    height: 55vh;
    width: 50vw;
  
    #photo1{
      height: 53vh;
      width: 50vw;
      border-radius: 2vh;
    }
  }

  .loginpicturesDesc{
    background-color: #0f2044;
    margin-left: 10vw;
    width: 49.4vw;
    border-radius: 2vh;
    border: 0.3vw solid #FFB71B;
  
    p{
      text-align: center;
      color: white;
    }
  }

  form{
    background-color: #0f2044;
    height: 15vh;
    width: 25vh;
    border-radius: 2vh;
    border: 5px solid #FFB71B;
    padding: 2vh; 
  
    input { //. references class, not elements //test
      background: #2a4275; ;
      border: 1px solid white;
      margin-bottom: 1vh;
      border-radius: 1vh;
      padding: 1vh;
      color: white;
    } 
  
    &.login {
      position: absolute;
      top: 35%;   
      left: 72%;
    }
  
  }  
}




/*Circle
  height: 15vh; the same!
  width: 15vh; the same!
  border-radius: 50%;
 */