@import url('../assets/css/global.scss');

#mainDiv{
  margin-top: 10vh;

  p {
    text-align: center;
  }

  h1{
    text-align: center;
  }

  button {
    border: 5px solid var(--navy);
    font-size: 12px;
    width: 10vw;    
    border-radius: 2vh;  
    background: var(--navyaccent);
    color: black;
  }

  #redirectButtons{
    margin: 5vh auto;
    width:fit-content;
  
    #registerButton{
    }

    #classInfoButton{
      margin-left: 3vw;
    }
  }

  #currentSchedule {    
    background: var(--navyaccent);
    margin-left: 27.25vw;
    width: 45vw;
    border-radius: 2vh;
    border: 0.3vw solid var(--navy);

    #checkScheduleButton{
      margin-top: 1vh;
      margin-left: 17.5vw;
    }

    .registered-classes-table{
      width: 35vw;
      margin-left: 5vw;
      margin-top: 2vh;
      position: relative;
      border-collapse: separate; 

      #registered-classes-table-row{
        text-align:center;
      }

    } 
  }  

  form {
    background: var(--navyaccent);
    height: 15vh;
    width: 20vw;
    border-radius: 2vh;
    border: 0.3vw solid var(--navy);
    padding: 2vh; 
    float: left;
  
    &.todo {
      margin-top: 2vh;
      margin-left: 2vw;
      max-height: 45vh;
      height: 20vh;
      display: flex;
      flex-direction: column;
  
      span {
        height: 95%;
      }
  
      * {
        margin: 0.2vh;
      }
    }
  }
}

#degreeprogress{
  background: var(--navyaccent);
  margin: auto;
  margin-top: 2vh;
  width: 44vw;
  border-radius: 2vh;
  border: 0.3vw solid var(--navy);
  padding: 1vh; 

  #degree-progress-button{
    margin-left: 17vw;
  }
}



#generalHomepage{
  #generalHomepageHeader{
    margin: 0 auto;
    margin-top: 15vh;
    font-size: 30px;
    width: fit-content;
    text-align: center;
    border-radius: 2vh;
    background: var(--navyaccent);
    border: 0.3vw solid var(--navy);
  
    h1{
      font-size: 25px;
      margin: 1vw;
    }
  }

  #generalHomepageImage{
    margin: 0 auto;
    margin-top: 5vh;

    #photo1{
      height: 53vh;
      width: 50vw;
      border-radius: 2vh;
      margin-left: 25vw;
    }
  }
  
  #generalHomepageBody{
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 1vh;
    font-size: 20px;
    width: 60vw;
    text-align: center;
    border-radius: 2vh;
    background: var(--navyaccent);
    border: 0.3vw solid var(--navy);
  
    p {
      font-size: 18px;
    }
  }
}





