@import url('../assets/css/global.scss');

#mainDiv{
  margin-top: 10vh;

  p {
    text-align: center;
    color: black;
  }

  h1{
    text-align: center;
    color: black;
  }

  button {
    border: 2px solid #FFB71B;
    font-size: 12px;
    width: 10vw;    
    border-radius: 2vh;  
    background-color: #0f2044;
    color: white;
  }

  #redirectButtons{
    margin: 5vh auto;
    width:fit-content;
  
    #registerButton{
    }

    #classInfoButton{
      margin-left: 3vw;
    }

    #progressButton{
      margin-left: 3vw;
    }
  }

  #currentSchedule {    
    background-color: #0f2044;
    margin-left: 42vw;
    width: 45vw;
    border-radius: 2vh;
    border: 0.2vw solid #a6b0b7;

    #checkScheduleButton{
      margin-left: 17.5vw;
      margin-top: 0.5vh;
    }

    .registered-classes-table{
      width: 35vw;
      margin-left: 5vw;
      margin-top: 2vh;
      margin-bottom: 1vh;
      position: relative;
      border-collapse: separate; 
      color: white;

      #registered-classes-table-row{
        text-align:center;
      }

    } 
  }  

  form {
    background-color: #0f2044;
    height: 15vh;
    width: 20vw;
    border-radius: 2vh;
    border: 0.2vw solid  #a6b0b7;
    padding: 2vh; 
    float: left;
  
    &.todo {
      margin-left: 13vw;
      max-height: 45vh;
      height: 20vh;
      display: flex;
      flex-direction: column;
      color: white;
  
      span {
        height: 95%;
      }
  
      * {
        margin: 0.2vh;
      }
    }
  }

  #degreeprogressheader{
    position: absolute;
    bottom: 4vh; 
    margin: auto;
    font-size: 15px;
    text-align: center;
    width: 100vw;
  }

  #degreeprogress{
    position: absolute;
    background-color: #0f2044;
    height: 2vh;
    margin: auto;
    bottom: 1vh;
    left: 35vw;
    width: 30vw;
    border-radius: 2vh;
    border: 0.2vw solid var(--navy);
  }
}







