@import url('../assets/css/global.scss');

.classinfopics{
  margin-top: 40vh;
  margin-left: 33vw;
  height: 55vh;
  width: 50vw;

  #photo1{
    height: 53vh;
    width: 50vw;
    border-radius: 2vh;
  }
}

#selectSubject{
  position:absolute;
  height: 5vh;
  max-height: 5vh;
  width: 15vw;
  margin-top: 8vh;
  overflow:hidden;
  background: #0f2044; 

  select {
    border: 3px solid #FFB71B;
    font-size: 12px;
    margin-top: 1.25vh;
    margin-left: 2.75vw;
    width: 10vw;    
    border-radius: 2vh;  
    background: #2a4275; 
    color: white;
  }
}

#scrollList{
  position:absolute;
  height: 87vh;
  max-height: 87vh;
  width: 15vw;
  margin-top: 13vh;
  overflow:hidden;
  overflow-y:scroll;
  background: #0f2044; 

    #classList{
      list-style-type: none;
      text-align: center;
      padding: 0;
      margin-left: 2.5vw;

      li { 
        border: 3px solid var(--navy);
        margin-top: 3vh;
        font-size: 12px;
        width: 10vw;    
        border-radius: 2vh;  
        color: white;
        background: #2a4275; 
        border-color: #FFB71B;
      }
    }
}

.classInfoDiv{
  position: absolute;
  margin-left: 20vw;
  margin-top: 13vh;
  width: 75vw;
  background: #0f2044; 
  border-radius: 2vh;

  #titleDiv{
    margin-left: 10vw;
    border-radius: 2vh;
    width: 55vw;

    h1 {
      text-align: center;
      color: #FFB71B;
      font-size: 25px;
    }
    
    h2 {
      text-align: center;
      color: #FFB71B;
    }

    p {
      text-align: center;
      font-size: 24px;
      margin-bottom: 5vh;
      color: white;
    }
  }

  #descDiv{
    background: #0f2044; 
    margin-left: 7.5vw;
    margin-bottom: 1vh;
    border-radius: 2vh;
    width: 60vw;
    padding: 1px;

    h2 {
      text-align: center;
      color: #FFB71B;
      font-size: 23px;
    }

    p {
      text-align: center;
      color: white;
      margin-bottom: 2vh;
    }
  }
}

.loginRequired{
  position: absolute;
  margin-top: 20vh;
  margin-left: 45vw;

  p {
      font-size: 30px;
      text-align: center;
  }
}
